# Bỏ qua thư mục node_modules và build trong React
frontend/node_modules/
frontend/build/

# Bỏ qua thư mục target và logs trong Spring Boot
backend/target/
backend/logs/

# Bỏ qua các file hệ thống không cần thiết
.DS_Store
.idea/
*.iml
